addplotlist.m
arnoldi.m
divcon.m
doplotlist.m
gelijktijdige_it.m
inviter.m
mat1.txt
mmachten.m
newplotlist.m
plotlist.m
pract.m
qr_shiftall.m
qr_shiftrayleigh.m
qr_shiftwilkinson.m
qr_zonder.m
rayleigh.m
testplotlist.m
